
<table class="addlist">
    <tr class="head">
        <td height="34"><a href="index.php">Dashboard</a> - <a href="?s=contact">Contact</a> -
        Manage Inbox</td>
    </tr>
    <tr>
        <td height="34"><strong>CONTACT</strong> - INBOX</td>
    </tr>
    <tr>
        <td>
            <table class="list">
                <tr>
                    <td>
                        <strong>Recipient</strong>
                    </td>
                    <td colspan="6">
                        <strong> : {$staff.staff_name}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Subject</strong>
                    </td>
                    <td colspan="6">
                        <strong> : {$staff.subject}</strong>
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong>Total Message</strong>
                    </td>
                    <td colspan="6">
                        <strong> : {$total}</strong>
                    </td>
                </tr>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Phone</strong></td>
                    <td><strong>Email</strong></td>
                    <td><strong>Address</strong></td>
                    <td><strong>Message</strong></td>
                    <td><strong>Sending Time</strong></td>
                    <td align="center"><strong>Action</strong></td>
                </tr>
                {section name=i loop=$list}
                <tr>
                    <td>{$list[i].name}</td>
                    <td>{$list[i].phone}</td>
                    <td>{$list[i].email}</td>
                    <td>{$list[i].address}</td>
                    <td>{$list[i].message}</td>
                    <td>{$list[i].updated}</td>
                    <td align="center">
                        <a class="deletePage" href="?s=contact&amp;r=deleteMessage&amp;id={$list[i].id}&amp;staffID={$staffID}&amp;categoryID={$list[i].idCategory}">
                            Delete
                        </a>
                    </td>
                </tr>

                {/section}
                
            </table>
            {$page}

            <form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
                <br />
            </form>
        </td>
    </tr>
</table>