
<div id="mainleft">
    {$ADMIN_CONTENT}
</div>

<!--
<div id="mainright">
    <a class="newArticleBig" href="?s=article">Create New Article</a>
    <a class="dashboard" href="index.php">Back to Dashboard</a>
    <a class="manageUser" href="?s=admin">Administrative Settings</a>
    <a class="showPages " href="?s=page">Show Pages</a>
    <a class="grouping" href="?s=page&r=group">Groupings</a>
    <a class="manageStaticpage" href="?s=page">Manage Static Page(s)</a>
    <a class="managePartner" href="?s=partners">Manage Partners</a>
    <a class="productRequest" href="?s=inquiry">Product Inquiry Requests</a>
    <a class="downloadManual" href="#">Download User Manual</a>
    <a class="contactSupport" href="#">Contact Support</a>
    <a class="help" href="#">help</a>
</div>
-->