
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="addlist" >
    <!--
    <tr>
        <td>
            <a href="?s=gallery&r=addNewFacebookImage">[Add New Images]</a>
        </td>
    </tr>
    -->
    <tr>
        <td height="34"><a href="index.php">Dashboard</a> -
        Manage Facebook Images </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="5" class="list zebra">
    <tr align="center">
        <td class="head"><strong>Images</strong></td>
        <td class="head"><strong>Action</strong></td>
    </tr>
    
    <tr align="center">
        <td width="800px">
            <img style="border:solid 1px #CCCCCC" src="../contents/gallery/facebookImage/facebook_image.jpg" width="50" height="50" />
        </td>
        <td width="5px">
            <a class="addSubPage" href="?s=gallery&r=editNewFacebookImage&do=1">Edit</a>
            <!--<a class="deletePage" href="?s=gallery&r=delete&id={$listGallery[i].galleryID}" onclick="return confirm('Are you sure want to delete Image Source : {$listGallery[i].images} ?')">Delete</a>-->
        </td>
    </tr>
    
    <tr align="center">
        <td width="800px">
            <img style="border:solid 1px #CCCCCC" src="../contents/gallery/facebookImage/facebook_image2.jpg" width="50" height="50" />
        </td>
        <td width="5px">
            <a class="addSubPage" href="?s=gallery&r=editNewFacebookImage&do=2">Edit</a>
            <!--<a class="deletePage" href="?s=gallery&r=delete&id={$listGallery[i].galleryID}" onclick="return confirm('Are you sure want to delete Image Source : {$listGallery[i].images} ?')">Delete</a>-->
        </td>
    </tr>
    
</table>

