
<table class="addlist">
    <tr class="head">
        <td height="34"><a href="index.php">Dashboard</a> - <a href="?s=print&r={$url}">Print</a> - Edit Image To Print</td>
    </tr>
    <tr>
        <td height="34"><strong><a href="?s=print">PRINT</a></strong> - <strong>UPLOAD IMAGE</strong></td>
    </tr>
    <tr>
        <td>
            <form method="post" enctype="multipart/form-data" action="index.php?s=print&r=saveEdit">
                            <table class="addlist">

                                <!-- sementara belum dipakai
                                <tr>
                                    <td><strong>Category</strong></td>
                                    <td>
                                        <select name="category">
                                            {if $categoryID eq '4'}
                                            <option value="4" selected>Club</option>
                                            <option value="5">Offers</option>
                                            {elseif $categoryID eq '5'}
                                            <option value="4">Club</option>
                                            <option value="5" selected>Offers</option>
                                            {/if}
                                        </select>
                                    </td>
                                </tr>
                                -->
                                
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td>
                                        <input type="text" name="description" size="40" value="{$list.description}">
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Old Image</strong></td>
                                    <td>
                                        <img src="../contents/print/{$list.image}" width="200">
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Image</strong></td>
                                    <td><input type="file" name="file" id="file" />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="hidden" name="id" value="{$list.id}">
                                        <input type="hidden" name="categoryID" value="{$list.categoryID}">
                                        <input type="submit" name="button" id="button" value="SAVE" />
                                    </td>
                                </tr>
                            </table><br />
                        </form>
        </td>
    </tr>
</table>